<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="container">
        <%= link_to "Algorithm App", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto d-flex">
                <%= link_to "Home", root_path, class: 'nav-link text-dark'%>
                <%= link_to "About", about_path, class: 'nav-link text-dark'%>
                <%= link_to "Profile", user_path(session[:user_id]), class: 'nav-link text-dark' if session['user_id']%>
            </div>
            <div class="d-flex me-5">
                <%= link_to 'Login',  new_regestrations_path, {class: 'btn btn-secondary'} if !session['user_id'] %>
                <%= link_to 'Registration',  signup_path , {class: 'ms-3 btn btn-info'} if !session['user_id']%>
                <%= link_to 'Logout',  logout_path,  {class: 'ms-3 btn btn-danger'} if session['user_id'] %>
            </div>
        </div>
    </div>
</nav>